<div class="modal d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.6);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg border-0">

            <div class="modal-header bg-dark text-white border-0">
                <h5 class="modal-title">
                    {{ modoEdicion ? 'Actualizar Información' : 'Registrar Nueva Tarea' }}
                </h5>
                <button type="button" class="btn-close btn-close-white" (click)="cancelarAccion()"
                    aria-label="Close"></button>
            </div>

            <form [formGroup]="taskForm" (ngSubmit)="procesarEnvioFormulario()">
                <div class="modal-body bg-light">

                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Nombre de la Tarea</label>
                        <input type="text" class="form-control form-control-lg" id="name" formControlName="name"
                            placeholder="Ingrese nombre de la tarea"
                            [class.is-invalid]="taskForm.get('name')?.invalid && taskForm.get('name')?.touched">

                        <div class="invalid-feedback text-start mt-1">
                            <span *ngIf="obtenerErrorValidacion('name', 'required')">El nombre es
                                obligatorio.<br></span>
                            <span *ngIf="obtenerErrorValidacion('name', 'minlength')">Debe tener al menos 3
                                caracteres.<br></span>
                            <span *ngIf="obtenerErrorValidacion('name', 'maxlength')">No puede superar los 100
                                caracteres.<br></span>
                            <span *ngIf="obtenerErrorValidacion('name', 'pattern')">No puede estar vacío ni tener
                                solo espacios.</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label fw-bold">Descripción</label>
                        <textarea class="form-control" id="description" formControlName="description" rows="3"
                            placeholder="Escribe aquí... (Presiona ENTER para un nuevo checkbox)"
                            (keydown)="manejarTecladoDescripcion($event)"
                            [class.is-invalid]="taskForm.get('description')?.invalid && taskForm.get('description')?.touched"></textarea>
                        <div class="invalid-feedback text-start mt-1">
                            <span *ngIf="obtenerErrorValidacion('description', 'required')">La descripción es
                                obligatoria.<br></span>
                            <span *ngIf="obtenerErrorValidacion('description', 'minlength')">Debe ser descriptiva
                                (mínimo 10
                                caracteres).<br></span>
                            <span *ngIf="obtenerErrorValidacion('description', 'maxlength')">Límite alcanzado: máximo
                                500
                                caracteres.<br></span>
                            <span *ngIf="obtenerErrorValidacion('description', 'pattern')">No puede contener solo
                                espacios.</span>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="priority" class="form-label fw-bold">Prioridad</label>
                        <select class="form-select" id="priority" formControlName="priority"
                            [class.is-invalid]="taskForm.get('priority')?.invalid && taskForm.get('priority')?.touched">
                            <option value="true">Alta</option>
                            <option value="false">Normal</option>
                        </select>
                        <div class="invalid-feedback">Selección de prioridad obligatoria</div>
                    </div>

                </div>

                <div class="modal-footer bg-light border-0">
                    <button type="button" class="btn btn-outline-secondary" (click)="cancelarAccion()">Cancelar</button>
                    <button type="submit" class="btn" [ngClass]="modoEdicion ? 'btn-primary' : 'btn-primary'">
                        {{ modoEdicion ? 'Guardar Cambios' : 'Crear Tarea' }}
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>